.instructions {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid var(--stone-150);
}

.instructions-title {
	font-family: var(--font-big);
	font-size: 3.2rem;
	color: var(--brown-800);
	font-weight: bold;
}

.instructions-list {
	padding-left: 20px;
}

.instructions-list li {
	color: var(--brown-800);
	padding-left: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.instructions-list li:last-child {
	margin-bottom: 0;
}

.instructions-list li span {
	color: var(--stone-600);
	vertical-align: middle;
	font-weight: 400;
}
